.Home {
  display: block;
  position: relative;
  Button {
    color: black;
  }
  &-image {
    left: -20px;
    bottom: -20px;
    position: fixed;
    padding: -10px;
    img {
      width: 200px;
      height: 200px;
    }
  }
  &-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 5rem;
    margin-bottom: 0;
    &-1 {
      flex-basis: 400px;

      Button {
        border-right: black solid 6px;
        border-radius: 5px;
        font-size: 14px;
        padding: 0 1rem;
      }
    }
    &-2 {
      flex-basis: 800px;
      Button {
        font-size: 0.8rem;
        float: right;
        color: white;
      }
    }
  }
  &-posts {
    display: block;
    max-width: 750px;
    margin: 0 auto;
  }
}
.close {
  border: none !important;
  border-radius: 5px;
  padding: 3px;
  background-color: #fff;
  font-size: 16px !important;
}
