.PD {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
  margin: 1rem auto;
  justify-content: space-between;
  &-left {
    margin-left: 0rem;
    &-comment {
      &-top {
        border: 5px solid #ffffff;
        padding: 10px 20px;
        position: relative;
        height: 150px;
        &-input {
          border-radius: 5px;
          border: 1px solid rgb(226, 226, 225);
          width: 100%;
          padding: 10px;

          &:focus {
            border: white;
          }
        }

        &-button {
          position: absolute !important;
          right: 20px !important;
          translate: -19px;
          bottom: 5px !important;
          background-color: rgb(73, 73, 73) !important;
          color: white !important;

          &:hover {
            background-color: black !important;
          }
        }
      }
    }
  }

  &-right {
    background-color: #ffffff;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 5px;
    width: 470px;
    &-infor {
      display: flex;
      align-items: center;

      &-username {
        padding: 0 10px 0 10px;
        font-weight: bold;
        width: 40%;
      }

      &-button {
        margin-left: 0px;
      }

      
    }

    &-content {
      margin-top: 15px;
    }

    .commentPost {
      &-User {
        display: flex;
        // justify-content: space-between;

        .postProfileImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        &-Name {
          padding-left: 0px;
        }
      }
    }
    &-Send {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;

      &-input {
        border: white;
        border-radius: 5px;
      }
    }
  }
}
