.HomePostDetail {
  display: flex;
  flex-direction: row;
  
  margin-top: 1rem;
  .left {
    width: 50%;
    margin-left: 10rem;

   
  }

  .comment {
    .head {
      &-author {
        color: rgb(77, 77, 172);
        font-size: 24px;
        font-weight: bold;
      }
      span {
        margin-left: 30px;
      }
      &-button {
        margin: auto;
        padding: auto;
      }
      .d-flex{
        display: flex;
        justify-content: center;
        align-items: center;

        .postProfileImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .commentPost{
      &-User{
        display: flex;
        justify-content: space-between;

        .postProfileImg{
          
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        &-Name{
          padding-left: 0px;
        }
      }
    }
    &-Send {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
    }
  }
}
