.Cart {
    padding: 1rem 2rem;

    &__content {
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        border-right: 1px solid #dddddd;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
        text-align: center;
    }
}
