.Shop {
    padding: 1rem;
    width: 100%;
    background-color: rgb(247, 185, 15);
    &__head {
        font-size: 30px;
        float: left;
    }
    &__product {
        &-item {
        }
    }
}
