.HoiDap {
  display: block;
  width: 100%;
  margin: 0 auto;
  &-button {
    margin: 0.5rem 0;
    Button {
      float: right;
      background-color: #0d6efd !important;
      color: white;
      margin-bottom: 0.5rem !important;
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;

    .left {
      background-color: #ffffff;
      padding: 10px;
      width: 70%;
      border-radius: 15px;
    }

    .right {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      width: 25%;
      position: fixed;
      top: 20rem;
      right: 4.8rem;
      hr {
        width: 70%;
      }
      h5 {
        color: #0d6efd;
      }

      span {
        opacity: 0.8;
      }
    }
  }
}
