.CTPDT {
  width: 80%;
  margin: 0 auto;
  &-head {
    padding: 10px 0;
  }

  &-body {
    display: flex;
    &-left {
      width: 50%;

      &-comment {
        border-top: 1px solid rgb(201, 197, 197);
      }
    }

    &-right {
      width: 50%;

      &-infor {
        &-author {
          font-weight: bold;
          color: #0d6efd;
        }

        &-button {
          margin-left: 15px !important;
        }
      }
    }
  }
}
