.HomePostDetail {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    .left {
        width: 50%;
        margin-left: 10rem;

        .head {
            span {
                margin-left: 30px;
            }
            &-button {
                margin-left: 50px;
            }
        }

        .img {
            img {
                width: 300px;
                height: 270px;
                margin-left: 10px;
            }
        }
    }

    .right {
        padding: 0 2rem;
        width: 30%;
        position: fixed;
        right: 0;
        top: 18rem;
        border-left: solid 1px black;

        &-author {
            color: rgb(46, 46, 253);
            font-weight: bold;
        }

        &-button {
            margin-left: 1rem;
        }

        span {
            font-style: italic;
        }
    }
}
