.input {
  height: 45px !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 18px !important;
  padding: 10px !important;

  margin-bottom: 10px !important;
  &:focus {
    outline: none;
  }
}
.form-group {
  position: relative !important;
}
.error {
  position: absolute !important;
  top: 24px !important;
  right: -208px !important;
  transform: translateY(-50%) !important;
  margin: 0px !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
